.App {
  text-align: center;
  height: 100%;
}

.container {
  height: 100%;
  padding: 20px;

  background: #dfdeba; /* fallback for old browsers */
  background: linear-gradient(to left, hsl(278, 77%, 22%), hsl(283, 95%, 7%));

  color: #ffdffc;
}

.headline{
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
}
.item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.item > span {
  padding: 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item > span > a {
  color: inherit;
}

.button-add {
  background: rgb(126, 199, 126);
  
  padding: 2px;
  cursor: pointer;

  transition: all 0.1s ease-in;
}

.button:hover {
  
  color: #ffffff;
}

.button-dismiss {
  background: rgb(170, 0, 0);
  
  padding: 1px;
  cursor: pointer;

  transition: all 0.1s ease-in;
}

.add-form {
  padding: 10px 0 20px 0;
  display: flex;
  align-items: baseline;
  text-align: center;
}
